<div class="container">
    <div>
        <h1>BLE Helper Test Harness</h1>
    </div>

    <div *ngIf="errorMessage != null" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>

    <form>

        <div class="form-group">
            <label for="serviceName">Service Name</label>
            <input type="input" class="form-control" id="serviceName" name="serviceName" [(ngModel)]="serviceName"
                [disabled]="deviceRequested">
            <small class="form-text text-muted">See <a
                    href="https://github.com/Roaders/ble-helper/blob/main/src/constants.ts#L3" target="_blank">here</a>
                for acceptable service names.</small>
        </div>
        <div class="form-group mt-2">
            <button type="button" class="btn btn-primary" [disabled]="deviceRequested || serviceName == ''"
                (click)="requestDevice()">Request Device</button>
        </div>
        <div *ngIf="deviceRequested && device == null">
            Waiting for device...
        </div>
    </form>

    <div *ngIf="device != null" class="d-flex">
        <div class="result-column">Device:</div>
        <div>{{device.name != null ? device.name : 'no_name'}}</div>
    </div>

    <div *ngIf="device != null && !connected">
        Connecting...
    </div>

    <div *ngIf="connected">
        Connected
    </div>

    <div *ngIf="connected && characteristics == null">
        Loading Services...
    </div>

    <div *ngIf="characteristics != null">
        <h3>Characteristics:</h3>

        <table>
            <tr>
                <th>Service</th>
                <th>Characteristic</th>
                <th>Read</th>
                <th>Notify</th>
            </tr>

            <tr *ngFor="let characteristic of characteristics">
                <td>
                    {{characteristic.serviceName}}
                </td>
                <td>
                    {{characteristic.displayName}}
                </td>
                <td>
                    <button *ngIf="characteristic.gatt.properties.read && characteristic.readValues == null"
                        type="button" class="btn btn-secondary btn-sm"
                        (click)="readCharacteristic(characteristic)">Read</button>
                    <span *ngIf="characteristic.readValues != null">{{characteristic.readValues}}</span>
                </td>
                <td>
                    <button *ngIf="characteristic.gatt.properties.notify && characteristic.notifyValues == null"
                        type="button" class="btn btn-secondary btn-sm"
                        (click)="notifyCharacteristic(characteristic)">Notify</button>
                    <span *ngIf="characteristic.notifyValues != null">{{characteristic.notifyValues}}</span>
                </td>
            </tr>
        </table>

        <small class="text-muted">(Read / Notify values are attempted to be converted into a string. If they don't have
            any normal characters in the byte values are displayed instead - which won't make much sense)</small>
    </div>

</div>