name: NPM Publish 
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Setup Node
      uses: actions/setup-node@v2
      with:
        node-version: '16.x'

    - name: Install node modules
      run: npm ci

    - name: Publish
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
    
    - name: Deploy Test Harness
      uses: JamesIves/github-pages-deploy-action@v4.2.5
      with:
        branch: test-harness